.overlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 999;

    .overlay-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 64px;

        a {
            font-family: 'Syne';
            font-size: 96px;
            font-weight: 700;
            text-decoration: none;
            color: black;
            width: 100%;
            transform: translate(0%, 0%);
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
        }

        a::before,
        a::after,
        span::before,
        span::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background: transparent;
            transition: 1s;
        }

        a::before {
            top: -2px;
            left: -2px;
            border-top: 2px solid black;
            border-left: 2px solid black;
        }

        a::after {
            top: -2px;
            right: -2px;
            border-top: 2px solid black;
            border-right: 2px solid black;
        }

        span::before {
            bottom: -2px;
            left: -2px;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
        }

        span::after {
            bottom: -2px;
            right: -2px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
        }


        a:hover::before,
        a:hover::after,
        a:hover span::before,
        a:hover span::after {
            width: calc(20%);
            height: calc(50px / 2);
        }
    }
}