<div class="about-me">
    <h1>About me</h1>

    <div class="about-me-main">
        <div class="about-me-info">
            <div>
                <p>I am a Front-end deverloper from Hamburg, Germany. I help designers and companies to bring their
                    ideas to
                    real life. Creativity and logical thinking are skills that I have developed to connect ideas into
                    quality products.</p>
                <p>If you think I’d be a good match for your projects, contact me!</p>
                <div class="location">
                    <div class="hamburg">
                        <img src="assets/about-me/introduction/house.png" alt="">
                        <p>Based in Hamburg</p>
                    </div>
                    <div class="remote">
                        <img src="assets/about-me/introduction/remote.png" alt="">
                        <p>Open to work Remote</p>
                    </div>
                </div>
            </div>
            <button>Let's talk</button>
        </div>
        <div class="image">
            <div>
            <img class="me" src="assets/about-me/introduction/emi-nb.png" alt="">
        </div>
            <div class="border"></div>
        </div>
    </div>



</div>