<div class="about-me" id="about" style="scroll-margin-top: 100px;">
    <h1 id="AboutMeTitle">About me</h1>

    <div class="about-me-main">
        <div class="about-me-info">
            <div>
                <p id="AboutMeDescription">I am a Front-end deverloper from Hamburg, Germany. I help designers and companies to bring their
                    ideas to
                    real life. Creativity and logical thinking are skills that I have developed to connect ideas into
                    quality products.</p>
                <p id="AboutMeDescriptionTwo">If you think I’d be a good match for your projects, contact me!</p>
                <div class="location">
                    <div class="hamburg">
                        <img src="assets/about-me/introduction/house.png" alt="">
                        <p id="AboutMeLocation">Based in Hamburg</p>
                    </div>
                    <div class="remote">
                        <img src="assets/about-me/introduction/remote.png" alt="">
                        <p id="AboutMeRemote">Open to work Remote</p>
                    </div>
                </div>
            </div>
            <a href="#footer" class="hoverable"><button id="lassReden">Let's talk</button></a>
        </div>
        <div class="image">
            <div>
                <img class="me" src="" alt="#Bild wird noch hinzugefügt" style="border: 1px solid grey;">
            </div>
            <div class="border"></div>
        </div>
    </div>



</div>