 .header {
    height: 92px;
    width: 100vw;
    max-width: 100%;
    background-color: #FFFCF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 40px;
        width: auto;
        padding-left: 64px;
        padding-right: 64px;
        cursor: pointer;
    }
    .initial{
        height: 50px;
        width: auto;
    }
 }