<div class="section-1" id="section-1">
    <div class="welcome">
        <h1>Frontend <br> Developer</h1>
        <div class="underline">
            <div class="line"></div>
            <h2>Emirhan Kilic</h2>
        </div>
    </div>
    <div class="welcome-second-part">
        <div class="contact-mail">
            <a href="" type="email">emirhan_kilic&#64;outlook.de</a>
        </div>

        <div class="scroll-down">
            <div class="container-arrow">
                <img src="assets/about-me/scroll-down/arrow-down.png" alt="#arrow down">
            </div>
            <p>Scroll <br> Down</p>
        </div>
    </div>
</div>