.section-1 {
    background-color: #FFFCF3;
    padding-top: 150px;
    width: 100%;
    max-width: 1920px;
    height: 95vh;
    margin: 0 auto;
}

.welcome {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    h1 {
        font-family: 'Syne';
        font-size: 128px;
        margin-bottom: 0px;
        font-weight: 800;
    }

    .underline {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 60px;
        gap: 32px;

        .line {
            border: 2px solid black;
            width: 63%;
            height: 0px;
        }

        h2 {
            font-family: 'Overpass';
            font-weight: 700;
            color: #4B47FF;
            font-size: 48px;
        }
    }
}

.welcome-second-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    bottom: 0;
    height: 45%;

    .contact-mail {
        transform: rotate(-90deg);
        padding-left: 0px;
        height: 28px;
        background-color: transparent;
        position: relative;
        left: -100px;

        a {
            text-decoration: none;
            font-family: 'Overpass';
            font-size: 22px;
            font-weight: 300;
            cursor: pointer;
            color: black;
        }
    }

    .scroll-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container-arrow {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100px;
            height: 250px;
            overflow: hidden;

            img {
                position: absolute;
                top: -92px;
                left: 50%;
                transform: translateX(-50%);
                animation: fall 1s linear infinite;
                height: 92px;
                width: 50px;
            }
        }

        p {
            font-size: 22px;
            font-weight: 300;
            font-family: 'Overpass';
        }
    }
}
@keyframes fall {
    0% {
        top: -92px;
    }
    100% {
        top: 350px;
    }
}
@media (max-width: 1050px) {
    h1 {
        font-size: 86px !important;
    }
    .underline {
        width: 80% !important;
        .line{
            width: 100%;
        }
        h2{
            font-size: 28px !important;
            width: auto;
            background-color: transparent;
        }
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 38px !important;
    }
    .underline {
        width: 60% !important;
        .line{
            width:100% !important;
        }
        h2{
            font-size: 18px !important;
            background-color: transparent;
        }
    }
    .contact-mail {
        padding-top: 0 !important;
    }
}
@media (max-width: 450px) {
    .scroll-down{
        position: relative;
    }
    .welcome-second-part {
        width: 300px;
        padding: 10px;
    }
    .scroll-down {
        right: 50px;
    }
}