<div class="projects" id="projects">
    <div class="header">
        <h1>Portfolio</h1>
        <h2>Explore a selection of my work here - Interact with projects to see my skills in action</h2>
    </div>


    <div class="project-one" id="game-one">
        <div class="picture-one">
            <img class="join-black-white" src="assets/projects/join-black-white.png" alt="">
            <img class="join-color" src="assets/projects/join.png" alt="" style="display: none;">
            <img class="right-border-image" src="assets/about-me/scroll-down/arrow-turning.png" alt="">
            <div class="border"></div>
        </div>
        <p class="order">01/03</p>

        <div class="text-one">
            <p class="title">Join</p>
            <p class="skills-used">JavaScript | Firebase | HTML | CSS</p>
            <p class="description">Task Manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories</p>
            <a href="https://github.com/EmiKilic/JOIN-PROJEKT" target="_blank" rel="noopener noreferrer"><Button>Github</Button></a>
        </div>
    </div>

    <div class="project-one project-reverse">
        
        <p class="order-left">02/03</p>

        <div class="text-one">
            <p class="title">El Pollo Loco</p>
            <p class="skills-used">JavaScript | HTML | CSS</p>
            <p class="description">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and Salsa bottles to fight against the crazy Chickens</p>
            <a href="https://github.com/EmiKilic/El-Pollo-Loco" target="_blank" rel="noopener noreferrer"><Button>Github</Button></a>
        </div>

        <div class="picture-one">
            <img class="join-black-white" src="assets/projects/el-pollo-loco-black-white.png" alt="">
            <img class="join-color" src="assets/projects/el-pollo-loco.png" alt="" style="display: none;">
            <img class="right-border-image" src="assets/about-me/scroll-down/arrow-turning.png" alt="">
            <div class="border"></div>
        </div>
    </div>

    <div class="project-one">
        <div class="picture-one">
            <img class="join-black-white" src="assets/projects/portfolio-black-white.png" alt="">
            <img class="join-color" src="assets/projects/portfolio.png" alt="" style="display: none;">
            <img class="right-border-image" src="assets/about-me/scroll-down/arrow-turning.png" alt="">
            <div class="border"></div>
        </div>
        <p class="order">03/03</p>

        <div class="text-one">
            <p class="title">Portfolio</p>
            <p class="skills-used">Angular | TypeScript | HTML | CSS</p>
            <p class="description">A showcase of my projects and skills built with modern web technologies. Features responsive design, interactive elements, and smooth navigation to provide an engaging user experience. Demonstrates proficiency in Angular, TypeScript, HTML, CSS</p>
            <a href="https://github.com/EmiKilic/Portfolio" target="_blank" rel="noopener noreferrer"><Button>Github</Button></a>
    </div>

</div>