
<div class="imprint" id="imprint">
    <p class="cross" (click)="goBack()"><img src="assets/about-me/scroll-down/arrow-down.png" alt=""></p>
    <h2 id="imprintTitle">Imprint</h2>
    <h3>General information</h3>
    <p><b>Website:</b> <a href="emirhan-kilic.de" target="_blank">emirhan-kilic.de</a></p>

    <p><b>Name of the service provider:</b> Emirhan Kilic <br><br></p>

    <h3>Adress and contact</h3>
    <p>Minna-Bothe-Straße 5</p>

    <p>21614 Buxtehude</p>

    <p><b>phone:</b> <a href="tel:015173065636">015173065636</a></p>

    <p><b>Email:</b> <a href="mailto:emirhan_kilic@outlook.de">emirhan_kilic&#64;outlook.de</a><br><br></p>

    <h2>Liability for links
    </h2>
    <p>Our website contains links to external third-party websites whose content we have no influence over.
        Therefore, we cannot accept any liability for this third-party content. The respective provider or operator
        of the pages is always responsible for the content of the linked pages. The linked pages were checked for
        possible legal violations when linking. Illegal content was not recognizable at the time of linking.
        However, permanent monitoring of the content of the linked pages is not reasonable without concrete evidence
        of an infringement. If we become aware of any legal violations, we will remove such links immediately.
    </p>
    <h2>Liability for content
    </h2>
    <p>The content of our website has been created with the greatest care. However, we cannot assume any liability
        for the accuracy, completeness and topicality of the content. However, as a service provider, we are not
        obliged to monitor transmitted or stored third-party information or to investigate circumstances that
        indicate illegal activity. Obligations to remove or block the use of information in accordance with general
        legislation remain unaffected by this. However, liability in this respect is only possible from the time of
        knowledge of a specific infringement. As soon as we become aware of such infringements, we will remove this
        content immediately.
    </p>
    <p>Created by <a href="https://impressum-generator.info/" target="_blank">impressum-generator.info</a> -
        powered by <a href="https://abfindungshero.de/" target="_blank">abfindungshero.de</a><br><br></p>
</div>
