<div class="imprint" id="imprint">
    <p class="cross" id="imprintCross" [routerLink]="'/'">
        <img src="assets/about-me/scroll-down/arrow-down.png" alt="">
    </p>
    <h2 id="imprintTitle">Imprint</h2>
    <h3 id="generalInformationTitle">General information</h3>
    <p id="website">
        <b>Website:</b> <a href="emirhan-kilic.de" target="_blank">emirhan-kilic.de</a>
    </p>
    <p id="serviceProvider">
        <b>Name of the service provider:</b> Emirhan Kilic <br><br>
    </p>

    <h3 id="addressContactTitle">Address and contact</h3>
    <p id="street">Minna-Bothe-Straße 5</p>
    <p id="city">21614 Buxtehude</p>
    <p id="phone">
        <b>phone:</b> <a href="tel:015173065636">015173065636</a>
    </p>
    <p id="email">
        <b>Email:</b> <a href="mailto:emirhan_kilic@outlook.de">emirhan_kilic&#64;outlook.de</a><br><br>
    </p>

    <h2 id="liabilityLinksTitle">Liability for links</h2>
    <p id="liabilityLinksDescription">
        Our website contains links to external third-party websites whose content we have no influence over. Therefore,
        we cannot accept any liability for this third-party content. The respective provider or operator of the pages is
        always responsible for the content of the linked pages...
    </p>

    <h2 id="liabilityContentTitle">Liability for content</h2>
    <p id="liabilityContentDescription">
        The content of our website has been created with the greatest care. However, we cannot assume any liability for
        the
        accuracy, completeness and topicality of the content...
    </p>
    <p id="impressumGenerator">
        Created by <a href="https://impressum-generator.info/" target="_blank">impressum-generator.info</a> - powered by
        <a href="https://abfindungshero.de/" target="_blank">abfindungshero.de</a><br><br>
    </p>
</div>