/* You can add global styles to this file, and also import other style files */

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;    
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar {
    display: none;
}
* {
    background-color: #FFFCF3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    position: fixed;
    top: 0;

}
@media (max-width: 1920px) {
    body {
        width: 100%;
    }
}
@font-face {
    font-family: "Syne";
    src: url('../src/fonts/Syne-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Overpass";
    src: url('../src/fonts/Overpass-VariableFont_wght.ttf');
}


