<div class="footer" id="footer">
    <img class="rectangle" src="assets/about-me/scroll-down/rectangle-second.png" alt="">
    <h1 id="footerHey">Say Hi!</h1>
    <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <title id="footerTitle">Want to discuss a new project?</title>
        <h2 id="footerSeconTitle">Say hello! let's discuss your ideas and make it happen</h2>
    
        <!-- Name Input -->
        <input [(ngModel)]="contactData.name" required class="name" #name="ngModel" type="text"
            placeholder="Your name*" name="name">
        <span *ngIf="name.invalid && name.touched">Please enter a name</span>
    
        <!-- Email Input -->
        <input [(ngModel)]="contactData.email" required class="email" #mail="ngModel" type="email"
            placeholder="Your email*" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" name="email">
        <span *ngIf="mail.invalid && mail.touched">Please enter a valid email</span>
    
        <!-- Message Input -->
        <textarea [(ngModel)]="contactData.message" minlength="4" required class="message" #message="ngModel"
            placeholder="Your message*" name="message"></textarea>
        <span *ngIf="message.invalid && message.touched">Please enter a message</span>
    
        <!-- Privacy Policy Checkbox -->
        <div class="privacy-policy">
            <div style="background-color: transparent;">
            <input class="checkbox" [(ngModel)]="contactData.privacyChecked" type="checkbox" id="checkbox1" required
                name="privacyChecked" #privacyChecked="ngModel">
            <label for="checkbox1" id="policyOne">
                I've read the <a [routerLink]="['/polic']" id="policyTwo">privacy policy</a> and agree to the
                processing of my data as outlined*
            </label>
        </div>
            <span *ngIf="privacyChecked.invalid && privacyChecked.touched">You must agree to the privacy policy</span>
        </div>
    
        <!-- Submit Button -->
        <input [ngClass]="{'no-hover': !contactForm.valid || !contactData.privacyChecked}"
            [disabled]="!contactForm.valid || !contactData.privacyChecked" class="submit" type="submit"
            value="Send message">
    </form>
    

    <div class="confirmation" id="confirmation" #confirmationMessage style="display: none;">
        Successfully sent!
    </div>


    <div class="links">
        <div class="bottom-left">
            <img class="initials" src="assets/header/initials/initials-version_2.png" alt="">
            <div class="background">
                <p class="text">© Emirhan Kilic 2024</p>
            </div>
        </div>
        <div class="bottom-right">
            <div class="arrow-down">
                <a href="#section-1" style="background-color: transparent;"><img
                        src="assets/about-me/scroll-down/arrow-up.png" alt=""></a>
            </div>
            <div class="socials">
                <a href="https://github.com/EmiKilic" target="_blank" rel="noopener noreferrer"
                    style="background-color: transparent;"><img src="assets/about-me/scroll-down/git.png" alt=""></a>
                <a href="#footer" style="background-color: transparent;"><img src="assets/about-me/scroll-down/mail.png"
                        alt=""></a>
                <a href="https://www.linkedin.com/in/emirhan-kilic-a16461265/" target="_blank" rel="noopener noreferrer"s
                    style="background-color: transparent;"><img src="assets/about-me/scroll-down/linked.png" alt=""></a>
            </div>
            <div class="background">
                <a class="text text-hover" [routerLink]="['/imprint']" id="footerImprint">Imprint</a>
            </div>
        </div>
    </div>

    
