<div class="footer" id="footer">
    <img class="rectangle" src="assets/about-me/scroll-down/rectangle-second.png" alt="">
    <h1 id="footerHey">Say Hi!</h1>
    <form class="form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <title id="footerTitle">Want to discuss a new project?</title>
        <h2 id="footerSeconTitle">Say hello! let's discuss your ideas and make it happen</h2>

        <input [(ngModel)]="contactData.name" required class="name" #name="ngModel" for="name" type="text"
            placeholder="Your name" name="nam">
        @if (!name.valid && name.touched ) {
        <span >Please enter a name</span>
        }

        <input [(ngModel)]="contactData.email" required class="email" for="mail" #mail="ngModel" type="email"
            placeholder="Your email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" name="mail">
        @if (!mail.valid && mail.touched ) {
        <span >Please enter a valid mail</span>
        }

        <textarea [(ngModel)]="contactData.message" minlength="4" required class="message" #message="ngModel"
            for="message" placeholder="Your message" name="message"></textarea>
        @if (!message.valid && message.touched ) {
        <span >Please enter a message</span>
        }

        <div class="privacy-policy">
            <input class="checkbox" [(ngModel)]="contactData.privacyChecked" type="checkbox" id="checkbox1" required
                name="vehicle1" value="Bike">
            <label for="checkbox1" id="policyOne">I've read the <a href="https://emirhan-kilic.de/polic" id="policyTwo">privacy policy 

            </a>and agree to the
                processing of my data as
                outlined.</label>

        </div>
        <input [ngClass]="{'no-hover': !contactForm.valid || !contactData.privacyChecked}"
            [disabled]="!contactForm.valid && !contactData.privacyChecked" class="submit" type="submit"
            value="Send message">
    </form>

    <div class="confirmation" id="confirmation" #confirmationMessage style="display: none;">
        Successfully sent!
    </div>


    <div class="links">
        <div class="bottom-left">
            <img class="initials" src="assets/header/initials/initials-version_2.png" alt="">
            <div class="background">
                <p class="text">© Emirhan Kilic 2024</p>
            </div>
        </div>
        <div class="bottom-right">
            <div class="arrow-down">
                <a href="#section-1" style="background-color: transparent;"><img
                        src="assets/about-me/scroll-down/arrow-up.png" alt=""></a>
            </div>
            <div class="socials">
                <a href="https://github.com/EmiKilic" target="_blank" rel="noopener noreferrer"
                    style="background-color: transparent;"><img src="assets/about-me/scroll-down/git.png" alt=""></a>
                <a href="#footer" style="background-color: transparent;"><img src="assets/about-me/scroll-down/mail.png"
                        alt=""></a>
                <a href="https://www.linkedin.com/in/emirhan-kilic-a16461265/" target="_blank" rel="noopener noreferrer"s
                    style="background-color: transparent;"><img src="assets/about-me/scroll-down/linked.png" alt=""></a>
            </div>
            <div class="background">
                <a class="text text-hover" href="https://emirhan-kilic.de/imprint" id="footerImprint">Imprint</a>
            </div>
        </div>
    </div>

    
